# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.xml
.idea/*.xml
out/
target/
*.iws
*.bak
*.ipr
*.iws
*.log
.gradle/
.junit/
.settings/
